#footer1{
    background-color: black;
    padding-top: 7%;
    color: white;
}

.logo_footer{
    width: 150px;
}
.nav-link_footer{
    text-decoration: none;
    color: white;
    margin: 5px;
}

.trait{
    border: solid white 0.5px;
    margin-left: 10%;
    margin-right: 10%;
}