.txt_feature{
    margin-right: 10%;
    margin-top: 3%;
}

.fa-solid{
    font-size: 50px;
}

#section_main_feature{
    background-image: url(/assets/images/wave.svg);
    background-size: cover;
    padding-bottom: 10%;
}