#section_de_fin{
    background: rgb(214, 133, 103);
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    margin-top: -3%;
    color: white;
    height: auto;
    position: relative;
    z-index: auto;
}